﻿
@{
    ViewBag.Title = "AWS Accounts";
}

<div class="jumbotron">
    <h1>Accounts</h1>
    <p class="lead">List of Accounts (Retrieved from <a href="/Help">Account Web API</a>).</p>
</div>
<div class="row">
    <div class="col-md-4">
        <p>All these accounts are stored at DynamoDB Service</p>
    </div>
    <div class="col-md-8">

        <h2>Accounts</h2>

        <div class="alert-danger" data-bind="if: errorGettingAccounts">
            Error getting accounts from Web API
        </div>

        <div class="row">
            <div class="col-md-4">
                <strong>ID</strong> 
            </div>
            <div class="col-md-4">
                <strong>Name</strong> 
            </div>
            <div class="col-md-4">
                <strong>Email</strong> 
            </div>
        </div>

        <div class="row" data-bind="foreach: accounts">
            <div class="col-md-4" >
                <span data-bind="text: Id"></span>
            </div>
            <div class="col-md-4">
                <span data-bind="text: Name"></span>
            </div>
            <div class="col-md-4">
                <span data-bind="text: Email"></span>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js'></script>

    <script type="text/javascript">

        function getAccounts(fxSuccess, fxError) {
            $.ajax({
                method: "GET",
                url: "/api/account",
                dataType : "json",
                success: fxSuccess,
                error: fxError
            });
        }

        var AccountViewModel = function () {

            self = this;
            self.accounts = ko.observableArray([]);
            self.errorGettingAccounts = ko.observable(false);

            this.init = function () {

                getAccounts(
                    function (data) {
                        self.accounts(data);
                    },
                    function (error, status) {
                        self.errorGettingAccounts(true);
                    }
                );
            }

            self.init();
        };

        ko.applyBindings(new AccountViewModel());

    </script>
}