﻿<div class="jumbotron">
    <h1>AWS Test Application (Elastic Beanstalk)</h1>
    <p class="lead">This site is hosted at AWS Elastic Beanstalk.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Accounts Microservice (DynamoDB)</h2>
        <p>All <a href="~/WebAccount">accounts</a> are stored at DynamoDB Service</p>
    </div>
    <div class="col-md-4">
        <h2>Balance Microservice (RDS)</h2>
        <p>Balace details stored at MS SQL Server RDS Service</p>
    </div>
    <div class="col-md-4">
        <h2>Events Handling (Lamda)</h2>
        <p>ACID operations are handled by Event Sourcing using DynamoBD and Lamda Functions.</p>
    </div>
</div>
